$timing: 200ms;

@mixin fill {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.footer {
  @include fill;
  top: auto;
  z-index: 100;
  display: flex;
  height: 44px;
  background-color: #FFFFFF;
}

.footer a {
  flex: 1;
  line-height: 44px;
  text-align: center;
}

.transitionPage {
  max-width: 100vw;
}

.trans {
  width: 100vw;
  transition: $timing;
  transition-timing-function: ease;

  &.enter {
    z-index: 10;
  }

  &.exit {
    z-index: 9;
  }

  &.active {
    position: fixed;
  }

  &.done {
    position: relative !important;
    transform: none !important;
  }
}

.toLeft.enter {
  @include fill;
  transform: translateX(-20px);

  &.active,
  &.done {
    transform: translateX(0);
  }

  + .exit {
    transform: translateX(0) !important;

    &.active {
      transform: translateX(20px) !important;
    }
  }
}

.toLeft.exit {
  @include fill;

  &.active {
    transform: translateX(20px);
  }

  + .enter {
    transform: translateX(-20px) !important;

    &.active,
    &.done {
      transform: translateX(0) !important;
    }
  }
}


.toRight.enter {
  @include fill;
  transform: translateX(20px);

  &.active,
  &.done {
    transform: translateX(0);
  }

  + .exit {
    transform: translateX(0) !important;

    &.active,
    &.done {
      transform: translateX(-20px) !important;
    }
  }
}

.toRight.exit {
  @include fill;

  &.active {
    transform: translateX(-20px);
  }

  + .enter {
    transform: translateX(20px) !important;

    &.active,
    &.done {
      transform: translateX(0) !important;
    }
  }
}

.enter {
  opacity: 0;

  &.active,
  &.done {
    opacity: 1;
  }
}

.exit {
  opacity: 1;

  &.active,
  &.done {
    opacity: 0;
  }
}


.default-trans-enter {
  @include fill;
  transform: translateX(20px);

  &.default-trans-enter-active {
    transform: translateX(0);
  }
}

.default-trans-exit {
  @include fill;

  &.default-trans-exit-active {
    transform: translateX(-20px);
  }
}
