.page {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  height: 44px;
  background-color: #FFFFFF;
}

.footer a {
  flex: 1;
  line-height: 44px;
  text-align: center;
}
